
.p-button-action {
    background: var(--action-color) !important;
    border: 1px solid var(--action-color) !important;
}

.p-button-transparent {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.button-action-transparent {
    background: transparent !important;
    color: var(--action-color) !important;
    padding: 2px;
    width: 35px;
    border: none !important;
}

.button-action-transparent:hover {
    border: none !important;
    background: var(--action-color-hover) !important;
    color: white !important;
}

.p-menu {
    min-width: auto !important;
}

.p-button-label {
    margin-top: 5px;
}

.p-inputtext, .p-select-label {
    padding: 10px !important;
}

.p-dialog-header {
    color: var(--action-color);
}

.p-step-number {
    padding-top: 5px;
}