
.p-button-action {
    background: var(--action-color) !important;
    border: 1px solid var(--action-color) !important;
}

.p-button-transparent {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.p-button-white {
    background: white !important;
    border: 1px solid lightgray !important;
    color: var(--action-color) !important;
}

.p-button-white-border-action-color {
    background: white !important;
    border: 1px solid var(--action-color) !important;
    color: var(--action-color) !important;
}

.p-button-white-border-action-color:hover {
    background: var(--light-grey) !important;
    border: 1px solid var(--action-color) !important;
    color: var(--action-color) !important;
}

.p-button-grey {
    background: lightgray !important;
    border: 1px solid lightgray !important;
    color: var(--action-color) !important;
}

.p-button-bg-site {
    background: var(--bg-site) !important;
    color: var(--action-color) !important;
}

.p-button-bg-site:hover {
    background: var(--action-color-hover) !important;
    color: white !important;
}

.button-action-transparent {
    background: transparent !important;
    color: var(--action-color) !important;
    padding: 2px;
    border: none !important;
}

.button-action-transparent:hover {
    border: none !important;
    background: var(--action-color-hover) !important;
    color: white !important;
}

.p-menu {
    min-width: auto !important;
}

.p-button-label {
    margin-top: 5px;
}

.p-inputtext, .p-select-label {
    padding: 10px !important;
}

.p-dialog-header {
    color: var(--action-color);
}

.p-step-number {
    padding-top: 5px;
}

.p-drawer-right .p-drawer {
    width: 40rem !important;
}
