
.p-button-action {
    background: #ed5aa0 !important;
    border: 1px solid #ed5aa0 !important;
}

.p-button-transparent {
    background: transparent !important;
    border: 1px solid transparent !important;
}


.p-menu{
    min-width: auto !important;
}

.p-button-label{
    margin-top: 5px;
}

.p-inputtext{
    padding: 20px !important;
}