.text-center {
    text-align: center;
}

.text-decoration-none{
    text-decoration: none;
}


.font-size-0_8em{
    font-size: 0.8em;
}

.font-size-1em{
    font-size: 1em;
}

.font-size-1_5em{
    font-size: 1.5em !important;
}

.font-size-2em{
    font-size: 2em;
}

.font-size-3em{
    font-size: 3em;
}

.font-size-4em{
    font-size: 4em;
}

.font-size-12px{
    font-size: 12px !important;
}