:root {
    --p-button-primary-background: var(--action-color) !important;
    --p-button-primary-hover-background: var(--action-color-hover) !important;
    --p-button-primary-border-color: var(--action-color) !important;
    --p-button-primary-hover-border-color: var(--action-color-hover) !important;
    --p-button-primary-active-background: var(--action-color-hover) !important;
    --p-button-primary-active-border-color: var(--action-color-hover) !important;
    --p-button-text-primary-color: var(--action-color-hover) !important;
    --p-button-text-primary-hover-background: var(--action-color-light-hover) !important;
}

.p-button.menu .p-button-icon {
    font-size: 12px !important;
}