:root {
    --p-select-option-selected-focus-background:var(--action-color-light-hover) !important;
    --p-select-option-selected-background:var(--action-color-light-hover) !important;
    --p-select-option-selected-focus-color: var(--action-color) !important;
    --p-select-option-selected-color: var(--action-color) !important;
}


.select-font-10px .p-select-label{
    font-size: 10px
}