@import 'css/flex.css';
@import 'css/text.css';
@import 'css/width.css';
@import 'css/height.css';
@import 'css/colors.css';
@import 'css/margin.css';
@import 'primeicons/primeicons.css';
@import 'css/overridePrime.css';
@import "css/theme-prime/stepper.css";
@import "css/theme-prime/button.css";
@import "css/theme-prime/input-text.css";
@import "css/theme-prime/badge.css";
@import "css/theme-prime/drawer.css";
@import "css/theme-prime/divider.css";
@import "css/theme-prime/message.css";
@import "css/theme-prime/accordion.css";
@import "css/theme-prime/color-picker.css";
@import "css/theme-prime/checkbox.css";
@import "css/theme-prime/radio-button.css";
@import "css/theme-prime/select.css";
@import "css/theme-prime/date-picker.css";
@import "css/theme-prime/data-table.css";
@import "css/theme-prime/panel-menu.css";
@import "css/theme-prime/tabs.css";
@import "css/theme-prime/toggle-switch.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

}

p, span, label, a, li, h2 {
    font-family: "League Spartan", serif;
}


h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.marker-actif svg g g{
    fill: var(--action-color) !important;
}

.marker-inactif svg g g{
    fill: var(--color-grey) !important;
}

:root {
    --action-color: #803256;
    --action-color-hover: #391421;
    --action-color-light-hover: #decdd3;
    --light-grey: #FAEEF7;
    --p-select-focus-border-color: var(--action-color) !important;
    --bg-site: #fff4f7;
    --height-nav: 93px;
    --color-grey-transparent: rgba(107, 114, 128, 0.7);
    --color-grey: rgba(107, 114, 128);
    --very-light-grey: #edebed;
}
