@import 'css/flex.css';
@import 'css/text.css';
@import 'css/width.css';
@import 'css/height.css';
@import 'css/colors.css';
@import 'css/margin.css';
@import 'primeicons/primeicons.css';
@import 'css/overridePrime.css';
@import "css/theme-prime/stepper.css";
@import "css/theme-prime/button.css";
@import "css/theme-prime/input-text.css";
@import "css/theme-prime/badge.css";
@import "css/theme-prime/drawer.css";
@import "css/theme-prime/divider.css";
@import "css/theme-prime/message.css";
@import "css/theme-prime/accordion.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

}

p, span, label {
    font-family: "League Spartan", serif;
}


h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

:root {
    --action-color: #803256;
    --action-color-hover: #391421;
    --action-color-light-hover: #decdd3;
    --p-select-focus-border-color: var(--action-color) !important;
    --bg-site: #fff4f7;
    --height-nav: 93px
}
