name: Deploy on preprod

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest non-release asset
        id: get_asset
        uses: actions/github-script@v6
        with:
          script: |
            // Récupère les releases triées par date
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 10
            });

            let assetUrl = null;
            let assetName = null;

            // Parcours les releases pour trouver le premier asset qui ne contient pas "release"
            for (const release of releases.data) {
              for (const asset of release.assets) {
                if (!asset.name.includes('release')) {
                  assetUrl = asset.browser_download_url;
                  assetName = asset.name;
                  break;
                }
              }
              if (assetUrl) break;
            }

            if (!assetUrl) throw new Error("Aucun asset correspondant trouvé");

            return JSON.stringify({ assetUrl, assetName });
          result-encoding: string

      - name: Download filtered asset
        run: |
          ASSET_INFO=$(echo '${{ steps.get_asset.outputs.result }}' | jq -r '.assetName')
          ASSET_URL=$(echo '${{ steps.get_asset.outputs.result }}' | jq -r '.assetUrl')
          echo "Downloading $ASSET_INFO from $ASSET_URL"
          curl -L -o "$ASSET_INFO" "$ASSET_URL"

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            # Nom du zip téléchargé
            ZIP_NAME=$(ls dist-*.zip | sort -V | tail -n1)

            # Chemin de déploiement
            DEPLOY_PATH=/var/www/html/akialoops-preprod

            cd $DEPLOY_PATH
            mv dist dist_backup_$(date +%Y%m%d%H%M%S) || true
            rm -rf dist
            mkdir dist
            unzip -o ./../$ZIP_NAME -d dist