name: Deploy Release to Server

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Download dist.zip from latest release
        uses: robinraju/release-downloader@v1
        with:
          repository: ${{ github.repository }}
          latest: true
          fileName: dist.zip
          token: ${{ secrets.GITHUB_TOKEN }}
          out-file-path: "./"

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            # Récupère le nom du zip
            ZIP_NAME=dist.zip

            # Détermine le chemin en fonction du nom
            if [[ "$ZIP_NAME" == dist-release-* ]]; then
              DEPLOY_PATH=/var/www/html$/akialoops-prod
            else
              DEPLOY_PATH=/var/www/html$/akialoops-preprod
            fi

            # Déploiement
            cd $DEPLOY_PATH
            mv dist dist_backup_$(date +%Y%m%d%H%M%S) || true
            rm -rf dist
            mkdir dist
            unzip -o ./$ZIP_NAME -d dist