name: Build & Release

on:
  push:
    tags:
      - 'release-*'
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      # Détermine le mode selon le tag
      - name: Set build mode
        id: set_mode
        run: |
          TAG=${GITHUB_REF##*/}
          if [[ "${TAG}" == refs/tags/release-* ]]; then
            echo "MODE=prod" >> $GITHUB_ENV
          else
            echo "MODE=preprod" >> $GITHUB_ENV
          fi

      # Crée le fichier .env selon le mode
      - name: Create .env file
        run: |
          if [[ "$MODE" == "preprod" ]]; then
            echo "VITE_BASE_URL_BACK=$VITE_BASE_URL_BACK_PREPROD" >> .env
          elif [[ "$MODE" == "prod" ]]; then
            echo "VITE_BASE_URL_BACK=$VITE_BASE_URL_BACK_PROD" >> .env
          fi
          echo "VITE_AUTH_STORAGE=$VITE_AUTH_STORAGE" >> .env
          echo "VITE_CART=$VITE_CART" >> .env

      - name: Build project
        run: npm run build -- --mode $MODE

      - name: Zip dist with tag
        run: |
          zip -r dist-${TAG_NAME}.zip dist

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist-${{ env.TAG_NAME }}.zip